# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.sqlite3

# Envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Cache/data
cache_data/
*.pkl

# Node/Front (на будущее)
node_modules/
dist/
build/

# IDE/Editor
.vscode/
.idea/
*.iml


